{% load static %}

<html lang="en">
    <head>
        <title>Join Room</title>
    </head>
    <body>
        Enter the name you wish to use?<br>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            <input id="User-Name-Input" type="text" name="user">
            <br>
            <br>
            <input id="lobby-Submit" type="submit" value="Enter">
        </form>
        
        
    </body>
    <script>
        document.querySelector("#lobby-Submit").onclick = e => {
            var username = document.querySelector('#User-Name-Input').value
                              
          if ( username === '') {
            e.preventDefault()
            alert('Please Enter a username to continue');
            }
          }
    </script>
</html>