{% load static %}

<html lang="en">
    <head>
        <title>Join Room</title>
    </head>
    <body>
        Enter the name you wish to use?<br>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            <input id="User-Name-Input" type="text" name="user">
            <br>
            <br>
            <input id="lobby-Submit" type="submit" value="Enter">
        </form>
        
        
    </body>
    <script>
        src="{% static 'lobby.js' %}"
    </script>
</html>